<h1>Alpha Epsilon Pi</h1>
<p>Alpha Epsilon Pi Rho Chapter, is an upstanding organization
    providing the best possible college and fraternity experience
    for Jewish men. We strive to meet the standards we have made
    for ourselves at URI</p>

<div class="main-content">
    <div class="left-column newsletter">
        <h2>News</h2>
        <div class="news">
            <p class="news_piece">Philanthropy Event a Success</p>
            <p class="news_piece">Top Golf trip for the seniors</p>
            <p class="news_piece">New Eboard elected</p>
        </div>
        <div class="slideshow-container">
            <div class="mySlides fade">
                <img src="/images/donut_event.jpg" class="slideshow_pic">
            </div>
        
            <div class="mySlides fade">
                <img src="/images/top_golf.jpg" class="slideshow_pic">
            </div>
        
            <div class="mySlides fade">
                <img src="/images/eboard.jpg" class="slideshow_pic">
            </div>
        
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    
        <br>
    
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>
    
    <div class="right-column">
        <div class="interested">
            <h2>Interested?</h2>
            <p>Alpha Epsilon Pi is open to all men at URI.
                Fill out the form below to get in contact with us</p>
            <button id="contact_button">Get In Contact</button>
        </div>
        
        <div class="merch">
            <h2>Merch</h2>
            <p>AEPI Spring Rush Shirt Available Now</p>
            <img src="/images/rush_s25_shirt.jpg" alt="Rush_Shirt" width="50%" height="20%" id="shirt" class="content-img">
        </div>
    </div>
</div>